.container {
    width: 650px;
    margin: 100px auto;
}
.logoImg {
    text-align: center;
}
.auto_login {
    text-align: left;
}
.login_field {
    text-align: center;
}
.login_footer {
    text-align: center;
}
